@use "../abstracts/colors" as c;
@use "mix-in" as m;

.global-container {
    display: grid;
    grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    grid-template-rows: .5fr .10fr .1fr 1fr .10fr .1fr 1fr .5fr;
    width: 100vw;
    height: 100vh;
    grid-gap: 25px;

    .left-top {
        grid-column: 2/3;
        grid-row: 2/7;
        z-index: 1;
        background-color: c.$color-3;
        background-image: url(../../starter_files/images/blue-eyes-w.png);
        background-repeat: no-repeat;
        background-size: 37%;
        background-position: 20% 10%;
        border-radius: 15px;
        position:relative;
        padding: 20px;
        display: grid;
        align-content: flex-end;


        .list1 {
            font-size: 10px;
            line-height: 50px;
        }
        .list2 {
            font-size: 2rem;
        }
    }
    .left-bottom {
        grid-column: 2/3;
        grid-row: 5/8;
        // padding-top: 30%;
        padding-left: 20px;
        line-height: 40px;
        background-color: c.$color-1;
        border-radius: 15px;
        display: grid;
        align-content: flex-end;
        padding-bottom: 50px;
    }

    a {
        cursor: pointer; // pointer for left lower, daily, weekly, monthly
    }

    .sm-cont:hover { // hover background for all 6 boxes on the right
        background-color: c.$color-2;
    }

    //--- work card
    .header-work {
        grid-column: 3/4;
        grid-row: 2/5;
        @include m.head(c.$color-6, url(../../starter_files/images/icon-work.svg));
    }
    .work-ul {
        grid-column: 3/4;
        grid-row: 3/5;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    //--- play card
    .header-play {
        grid-column: 4/5;
        grid-row: 2/5;
        // z-index: -1;
        @include m.head(c.$color-9, url(../../starter_files/images/icon-play.svg));
    }
    .play-ul {
        grid-column: 4/5;
        grid-row: 3/5;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    //--- study card
    .header-study {
        grid-column: 5/6;
        grid-row: 2/5;
        z-index: -1;
        @include m.head(c.$color-11, url(../../starter_files/images/icon-study.svg));
    }
    .study-ul {
        grid-column: 5/6;
        grid-row: 3/5;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    //--- exercise card
    .header-exercise {
        grid-column: 3/4;
        grid-row: 5/8;
        z-index: -1;
        @include m.head(c.$color-13, url(../../starter_files/images/icon-exercise.svg));
    }
    .exercise-ul {
        grid-column: 3/4;
        grid-row: 6/8;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    //--- social card
    .header-social {
        grid-column: 4/5;
        grid-row: 5/8;
        z-index: -1;
        @include m.head(c.$color-15, url(../../starter_files/images/icon-social.svg));
    }
    .social-ul {
        grid-column: 4/5;
        grid-row: 6/8;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    //--- self care card
    .header-self-care {
        grid-column: 5/6;
        grid-row: 5/8;
        z-index: -1;
        @include m.head(c.$color-17, url(../../starter_files/images/icon-self-care.svg));
    }
    .self-care-ul {
        grid-column: 5/6;
        grid-row: 6/8;
        position: relative;
        @include m.smallBox(c.$color-1);
        @include m.card-data;
    }

    .attribution {
        grid-column: 2/6;
        grid-row: 8/9;
    }
}