@use "../abstracts/colors" as c;
// @use "../base/media" as m;

@mixin smallBox($col) {
    background-color: $col;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
}

@mixin head($col, $img) {
    background-image: $img;
    background-size:25%;
    background-repeat: no-repeat;
    background-color: $col;
    background-position: 90% 0%;
    border-radius: 15px;
}

@mixin card-data {

    .work-li0, .play-li0, .study-li0, .exercise-li0, .social-li0, .self-care-li0 { // meatballs
        background-image: url(../../starter_files/images/meatballs.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right top;
        width: 30px;
        height: 30px; 
        top: 13px;
        right: 20px;
        position: absolute;
        cursor: pointer;
    }

    .work-li1, .play-li1, .study-li1, .exercise-li1, .social-li1, .self-care-li1 { // "work" text
        font-size: 1rem;
    }
    
    .work-li2, .play-li2, .study-li2, .exercise-li2, .social-li2, .self-care-li2 { // 32hrs
        font-size: 3rem;
        margin-top: 40%;

    }

    .work-li3, .play-li3, .study-li3, .exercise-li3, .social-li3, .self-care-li3 { // daily, weekly, monthly
        font-size: .8rem;
        margin-top: 10px;
        color: c.$color-7;
    }

    @media (max-width: 375px) {

        .work-li2, .play-li2, .study-li2, .exercise-li2, .social-li2, .self-care-li2 {
            font-size: 3rem;
            margin-top: 10%;
    
        }
    
    }

    @media (max-width: 960px) {

        .work-li2, .play-li2, .study-li2, .exercise-li2, .social-li2, .self-care-li2 {
            font-size: 3rem;
            margin-top: 15%;
    
        }


    }

}
