$color-1: #1D204B;
$color-2: #34397B;
$color-3: #5746EA;
$color-4: #0D1323;
$color-5: #FFF;
$color-6: #FF8B64;
$color-7: rgba(255, 255, 255, .5);
// $color-7: #D96B46;
$color-9: #56C2E6;
// $color-10: #3E9DBB;
$color-11: #F75B79;
// $color-12: #EF4767;
$color-13: #4BCF83;
// $color-14: #27BC64;
$color-15: #7235D2;
// $color-16: #5A1CBB;
$color-17: #F1C75B;
// $color-18: #E6A432;
